if ! has nix_direnv_version || ! nix_direnv_version 1.5.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/1.5.0/direnvrc" "sha256-carKk9aUFHMuHt+IWh74hFj58nY4K3uywpZbwXX0BTI="
fi

export APP_ROOT=${PWD}
export APP_SCRIPTS=${APP_ROOT}/infra/scripts
export APP_SERVICES=${APP_ROOT}/infra/services
export NGINX_PORT=1337
export NGINX_PATH=${APP_SERVICES}/nginx
export PHP_FPM_PATH=${APP_SERVICES}/php-fpm

use flake ./infra/flake
